@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

.instagram-icon {
    color: #E4405F;
    /* Instagram brand color */
    font-size: 56px;
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.instagram-icon:hover {
    transform: translateX(8px);
    /* Slide right on hover */
}